<header class="navbar navbar-fixed-top bg-white">
    <div class="container">
        <div class="navbar-header">
            <a href="{{.webHostName}}" class="navbar-brand"><span class="text-danger">{{.webApplicationName}}</span>
                账户控制 🚀</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>

                    <a href="/"><i class="fa fa-shopping-cart fa-lg"></i> 商品列表</a>
                </li>
                {{if not .notLoggedIn}}
                    <li>
                        <a href="/user-messages"><i class="fa fa-envelope fa-lg"></i> 消息</a>
                    </li>
                    <li>
                        <a href="/user-console"><i class="fa fa-dashboard fa-lg"></i> 控制台</a>
                    </li>
                {{end}}
                <li>
                    <a href="https://help.ntmc.tech"><i class="fa fa-info-circle fa-lg"></i> 腐竹帮助页面</a>
                </li>
                {{if .notLoggedIn}}
                    <li>
                        <a href="/login"><i class="fa fa-check fa-lg"></i> <strong>登录/注册</strong></a>
                    </li>
                {{end}}
                {{if .isAdmin}}
                    <li>
                        <a href="/pe-admin-console"><i class="fa fa-cogs fa-lg"></i> 管理员面板</a>
                    </li>
                {{end}}
            </ul>
        </nav>
    </div>
</header>