<header class="navbar navbar-fixed-top bg-white">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <i class="fa fa-list fa-2x"></i>
            </button>
            <a href="/" class="navbar-brand"><span class="text-danger">{{.webApplicationName}}</span>
                {{i18n Lang "navbar.title"}} 🚀</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="{{if eq .u 1}}active{{end}}">
                    <a href="/"><i class="fa fa-shopping-cart fa-lg"></i> {{i18n Lang "navbar.ware_list"}}</a>
                </li>
                {{if .AlbumEnabled}}
                <li class="{{if eq .u 5}}active{{end}}">
                    <a href="/gallery-show"><i class="fa fa-picture-o fa-lg"></i> {{i18n Lang "navbar.album"}}</a>
                </li>
                {{end}}
                {{if not .notLoggedIn}}
                    <li class="{{if eq .u 2}}active{{end}}">
                        <a href="/user-messages"><i class="fa fa-envelope fa-lg"></i> {{i18n Lang "navbar.message"}}
                            {{if .unReadNum}}
                                <span class="badge badge-danger">{{.unReadNum}}</span>
                            {{end}}
                        </a>
                    </li>
                    <li class="{{if eq .u 3}}active{{end}}">
                        <a href="/user-console"><i class="fa fa-dashboard fa-lg"></i> {{i18n Lang "navbar.console"}}</a>
                    </li>
                {{end}}
                {{if .linkEnabled}}
                    <li>
                        <a href="{{.link}}" target="_blank"><i class="fa fa-external-link fa-lg"></i> {{.linkTitle}} </a>
                    </li>
                {{end}}
                {{if .notLoggedIn}}
                    <li>
                        <a href="/login"><i class="fa fa-check fa-lg"></i> <strong>{{i18n Lang "navbar.auth"}}</strong></a>
                    </li>
                {{end}}
                {{if .isAdmin}}
                    <li class="{{if eq .u 4}}active{{end}}">
                        <a href="/admin-console"><i class="fa fa-cogs fa-lg"></i> {{i18n Lang "navbar.admin_console"}}</a>
                    </li>
                {{end}}
            </ul>
        </nav>
    </div>
</header>