<!-- Jquery -->
<script src="../static/perfect/js/jquery-1.10.2.min.js"></script>
<!--Bootstrap-->
<script src="../static/perfect/bootstrap/js/bootstrap.min.js"></script>
<!-- Modernizr -->
<script src='../static/perfect/js/modernizr.min.js'></script>
<!-- Pace -->
<script src='../static/perfect/js/pace.min.js'></script>
<!-- Popup Overlay -->
<script src='../static/perfect/js/jquery.popupoverlay.min.js'></script>
<!-- Slimscroll -->
<script src='../static/perfect/js/jquery.slimscroll.min.js'></script>
<!--Cookie-->
<script src='../static/perfect/js/jquery.cookie.min.js'></script>
<!--Perfect-->
<script src="../static/perfect/js/app/app.js"></script>
<script src="../static/perfect/js/app/app_form.js"></script>
<!-- Chosen -->
<script src='../static/perfect/js/chosen.jquery.min.js'></script>
<!-- Mask-input -->
<script src='../static/perfect/js/jquery.maskedinput.min.js'></script>
<!-- Datepicker -->
<script src='../static/perfect/js/bootstrap-datepicker.min.js'></script>
<!-- Timepicker -->
<script src='../static/perfect/js/bootstrap-timepicker.min.js'></script>
<!-- Slider -->
<script src='../static/perfect/js/bootstrap-slider.min.js'></script>
<!-- Tag input -->
<script src='../static/perfect/js/jquery.tagsinput.min.js'></script>
<!-- Dropzone -->
<script src='../static/perfect/js/dropzone.min.js'></script>
<!-- Cookie -->
<script src='../static/perfect/js/jquery.cookie.min.js'></script>
<!--Colorbox-->
<script src='../static/perfect/js/jquery.colorbox.min.js'></script>
<!-- Modernizr -->
<script src='../static/perfect/js/modernizr.min.js'></script>