<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Jquery -->
<script src="../static/perfect/js/jquery-1.10.2.min.js"></script>

<!--Bootstrap-->
<script src="../static/perfect/bootstrap/js/bootstrap.min.js"></script>

<!-- Modernizr -->
<script src='../static/perfect/js/modernizr.min.js'></script>

<!-- Pace -->
<script src='../static/perfect/js/pace.min.js'></script>

<!-- Popup Overlay -->
<script src='../static/perfect/js/jquery.popupoverlay.min.js'></script>

<!-- Slimscroll -->
<script src='../static/perfect/js/jquery.slimscroll.min.js'></script>

<!--Cookie-->
<script src='../static/perfect/js/jquery.cookie.min.js'></script>

<!--Perfect-->
<script src="../static/perfect/js/app/app.js"></script>