<div class="modal fade" id="{{.ServerIdentifier}}{{.ServerIndex}}MOD" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>MOD ({{.ServerModCount}}个) 加载器：{{.ServerFMLType}} </h4>
            </div>
            <div class="modal-body">
                {{range .ServerModList}}
                    <p>{{.ModText}}</p>
                {{end}}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="{{.ServerIdentifier}}{{.ServerIndex}}RENEW" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>使用预购买的KEY续费服务器</h4>
                <small>您可以在淘宝店或发卡平台购买KEY，每个KEY只能使用一次。<br>如果KEY失效不能使用请联系网站管理员！</small>
                <h4>使用余额续费服务器</h4>
                <small>当确保余额足够时，点击下方“余额支付”，每点击一次续费一个月，自动扣除一个月的标价。</small>
            </div>
            <div class="modal-body">
                <form class="form-horizontal no-margin form-border">
                    <div class="form-group">
                        <div class="col-lg-2 control-label">
                            <label>激活码</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" class="form-control input-sm" name="key"
                                   placeholder="输入您购买到的激活码" id="{{.ServerIdentifier}}{{.ServerIndex}}KEY">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <!-- choose -->
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger btn-sm" onclick="
                        $.get('{{.ServerRenew2URL}}',function(data) {
                        if (data==='SUCCESS'){
                        alert('续费成功！');
                        parent.location.reload();
                        }else{
                        alert('续费失败：'+data);
                        }
                        })
                        ">余额续费</a>
                <a class="btn btn-info btn-sm" onclick="
                        $.get('{{.ServerRenewURL}}/'+$('#{{.ServerIdentifier}}{{.ServerIndex}}KEY').val(),function(data) {
                        if (data==='SUCCESS'){
                        alert('续费成功！');
                        parent.location.reload();
                        }else{
                        alert('续费失败：'+data);
                        }
                        })
                        "> 确认续费</a>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div>
<div class="modal fade" id="{{.ServerIdentifier}}{{.ServerIndex}}CP" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>更换预设服务器包</h4>
                您可以选择我们预设的一些服务器整合包来作为快捷启动选项<br>
                一旦选择新的或与原来相同的整合包并点击&ldquo;确认安装&rdquo;按钮，我们<strong class="text-danger">!!!将清空服务器数据!!!</strong>并进行安装操作<br>
                由于这一过程<strong class="text-danger">不可逆</strong>，请您确认<strong class="text-danger">没有贵重数据或已备份</strong>！
            </div>
            <div class="modal-body">
                <form class="form-horizontal no-margin form-border">
                    <div class="form-group">
                        <div class="col-lg-2 control-label">
                            <label>整合包</label>
                        </div>
                        <div class="col-lg-10">
                            <select class="form-control" id="{{.ServerIdentifier}}{{.ServerIndex}}REIN">
                                {{range .ServerEggs}}
                                    <option value="{{.Id}}" style="width: 200px;white-space: pre-wrap;">
                                            {{.Name}}
                                        {{if .Description}}
                                        🚩{{.Description}}
                                        {{end}}
                                    </option>
                                {{end}}
                            </select>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <!-- choose -->
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger btn-sm" onclick="
                        $.get('{{.ServerReinstallURL}}/'+$('#{{.ServerIdentifier}}{{.ServerIndex}}REIN').val(),function(data) {
                        if (data==='SUCCESS'){
                        alert('重装成功！');
                        parent.location.reload();
                        }else{
                        alert('重装失败：'+data);
                        }
                        })
                        "> 确认安装</a>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div>