<div class="col-md-3 col-sm-6">
    <div class="pricing-widget">
        <div class="pricing-head">
            {{.WareName}}
        </div>
        <div class="pricing-body">
            <div class="pricing-cost">
                <strong class="block">￥{{.WarePricePerMonth}}</strong>
                <small>每月</small>
            </div>
            <ul class="pricing-list text-center">
                <li><a class="btn btn-sm btn-default">开始您的一元试用！</a></li>
                {{range .Intros}}
                    <li>{{.First}} <strong>{{.Second}}</strong></li>
                {{end}}
                <li class="text-center"><a href="#{{.WareName}}" role="button" data-toggle="modal" class="btn btn-success">购买</a></li>
                <div class="modal fade" id="{{.WareName}}" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4>新订单</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    将为您建立一个新订单用于购买我们的产品，您可以在建立订单后选择取消或支付<br>
                                    在购买前请确认您已经成功创建了控制台账户以确保购买成功<br>
                                    如果购买出现问题请联系网站管理员或发工单解决<br>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="/new-order?specID={{.SpecID}}" class="btn btn-primary btn-sm">确认</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </ul>
        </div>
    </div><!-- /pricing-widget -->
</div><!-- /.col -->