<div class="col-md-3 col-sm-6">
    <div class="pricing-widget">
        <div class="pricing-head">
            {{.WareName}}
        </div>
        <div class="pricing-body">
            <div class="pricing-cost">
                <strong class="block"> ￥{{.WarePricePerMonth}}</strong>
                <span class="label">-{{.Discount}}%</span>
            </div>
            <ul class="pricing-list text-center">
                {{range .Intros}}
                    <li>{{.First}} <strong>{{.Second}}</strong></li>
                {{end}}
                <li class="text-center"><a href="#{{.SpecID}}" role="button" data-toggle="modal" class="btn btn-success">{{i18n .lang "components.buy"}}</a></li>
            </ul>
        </div>
    </div><!-- /pricing-widget -->
</div><!-- /.col -->