<div class="col-md-3 col-sm-6">
    <div class="pricing-widget">
        <div class="pricing-head">
            {{.WareName}}
        </div>
        <div class="pricing-body">
            <div class="pricing-cost">
                <strong class="block">￥{{.WarePricePerMonth}}</strong>
                <small>每月</small>
            </div>
            <ul class="pricing-list text-center">
                <li><a class="btn btn-sm btn-default">开始您的一元2天试用！</a></li>
                {{range .Intros}}
                    <li>{{.First}} <strong>{{.Second}}</strong></li>
                {{end}}
                <li class="text-center"><a href="#" class="btn btn-default btn-success">购买</a></li>
            </ul>
        </div>
    </div><!-- /pricing-widget -->
</div><!-- /.col -->
