<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>{{.webApplicationName}} {{i18n Lang "admin_settings.title"}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{template "tpls/perfectCSS.html" .}}
</head>
<body>
{{template "tpls/navbar.html" .}}
<div id="main-container" class="no-margin">
  <div class="padding-lg">
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><strong>{{i18n Lang "admin_settings.edit_settings"}}</strong></h4>
            <span>
              {{i18n Lang "admin_settings.build_time"}}：{{.BuildTime}}<br>
              {{i18n Lang "admin_settings.go_version"}}：{{.GoVersion}}<br>
              {{i18n Lang "admin_settings.mysql_stats"}}：{{.MysqlStats}}<br>
              {{i18n Lang "admin_settings.redis_stats"}}：{{.RedisStats}}<br>
              {{i18n Lang "admin_settings.pterodactyl_stats"}}：{{.PterodactylStats}}
            </span>
          </div>
          <div class="panel-body">
            <form role="form" method="post" id="new-ware">
              {{.xsrfData}}
              {{range .options}}
              {{template "tpls/formgroup.html" .}}
              {{end}}
            </form>
            <hr/>
            {{if .hasError}}
            <div class="alert alert-danger">
              <strong>{{i18n Lang "admin_settings.edit_failed"}}</strong> {{.hasErrorText}}
            </div>
            {{end}}
            <button type="submit" form="new-ware" class="btn btn-success btn-sm">{{i18n Lang "admin_settings.submit"}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{template "tpls/perfectJS.html" .}}
</body>
</html>