<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} 管理员控制台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>
<body>
{{template "tpls/navbar.html" .}}
<div id="main-container" class="no-margin">
    <div class="padding-lg">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="row fadeInDown animation-delay1">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="/new-ware">
                            <div class="panel panel-default panel-stat2 bg-warning" data-toggle="tooltip"
                                 data-placement="top" title="" data-original-title="点击添加商品">
                                <div class="panel-body">
								<span class="stat-icon">
									<i class="fa fa-shopping-cart fa-lg"></i>
								</span>
                                    <div class="pull-right text-right">
                                        <div class="value">{{.specAmount}}</div>
                                        <div class="title">商品</div>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a>
                            <div class="panel panel-default panel-stat2 bg-primary">
                                <div class="panel-body">
								<span class="stat-icon">
									<i class="fa fa-hdd-o fa-lg"></i>
								</span>
                                    <div class="pull-right text-right">
                                        <div class="value">{{.entityAmount}}</div>
                                        <div class="title">服务器</div>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default panel-stat2 bg-dark">
                            <div class="panel-body">
								<span class="stat-icon">
									<i class="fa fa-user fa-lg"></i>
								</span>
                                <div class="pull-right text-right">
                                    <div class="value">{{.userAmount}}</div>
                                    <div class="title">用户</div>
                                </div>
                            </div>
                        </div><!-- /panel -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                            <a href="/admin-settings">
                                <div class="panel panel-default panel-stat2" title="" >
                                    <div class="panel-body">
								<span class="stat-icon">
									<i class="fa fa-briefcase fa-lg"></i>
								</span>
                                        <div class="pull-right text-right">
                                            <div class="value">设置</div>
                                            <div class="title">点击跳转</div>
                                        </div>
                                    </div>
                                </div><!-- /panel -->
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="#formModal" data-toggle="modal">
                            <div class="panel panel-default panel-stat2 bg-success" data-toggle="tooltip"
                                 data-placement="top" title="" data-original-title="点击添加 KEY">
                                <div class="panel-body">
								<span class="stat-icon">
									<i class="fa fa-key fa-lg"></i>
								</span>
                                    <div class="pull-right text-right">
                                        <div class="value">{{.keyAmount}}</div>
                                        <div class="title">CDKEY</div>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default panel-stat2 bg-info">
                            <div class="panel-body">
								<span class="stat-icon">
									<i class="fa fa-edit fa-lg"></i>
								</span>
                                <div class="pull-right text-right">
                                    <div class="value">{{.orderAmount}}</div>
                                    <div class="title">完成订单</div>
                                </div>
                            </div>
                        </div><!-- /panel -->
                    </div>
                </div>
                {{if .deleteServers}}
                    <div class="panel-primary fadeInDown animation-delay3">
                        <div class="panel-heading">
                            <strong>待确认删除的过期服务器</strong>
                        </div>
                        <div class="panel-body no-padding" style="height: auto;">
                            <ul class="list-group task-list no-margin collapse in">
                                {{range .deleteServers}}
                                    <li class="list-group-item" id="{{.ServerIdentifier}}">
                                        <a href="{{.ServerConsoleHostName}}" target="_blank">
                                            <span class="label label-default">{{.ServerIdentifier}}</span>
                                        </a>
                                        <a class="pull-right" onclick="$.get('{{.DeleteURL}}',function(data) {
                                                if (data==='SUCCESS')
                                                {$('#{{.ServerIdentifier}}').remove();alert('删除成功！')}
                                                else {alert('删除失败！'+data);}
                                                parent.location.reload();
                                                })">
                                            <button class="btn-danger btn-sm" type="button">确认删除</button>
                                        </a>
                                        <span>{{.ServerName}} 所有者：{{.ServerOwner}} <br>过期时间：{{.ServerEXP}} 服务器地址：{{.ServerHostName}}</span>
                                    </li>
                                {{end}}
                            </ul><!-- /list-group -->
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div><!-- /panel -->
                {{end}}
                <div class="row">
                    {{range .galleryItems}}
                        <div class="col-md-12">
                            <div class="panel panel-default fadeInDown animation-delay2">
                                <div class="panel-heading">
                                    {{if not .ReviewPassed}}
                                        <form id="GIPASS{{.ID}}">
                                            {{$.xsrfData}}
                                            <input name="itemID" value="{{.ID}}" type="hidden">
                                        </form>
                                        <button class="pull-right btn-success btn"
                                                onclick="$.post('/admin-console/gallery-items/pass',$('#GIPASS{{.ID}}').serialize(),function(data) {
                                                        console.log($('#GIPASS{{.ID}}').serialize());
                                                        if (data === 'SUCCESS'){
                                                        alert('通过成功！');
                                                        }else{
                                                        alert('通过失败！'+data);
                                                        console.log(data);
                                                        }
                                                        parent.location.reload();
                                                        })
                                                        ">通过
                                        </button>
                                    {{end}}
                                    <form id="GIDEL{{.ID}}">
                                        {{$.xsrfData}}
                                        <input name="itemID" value="{{.ID}}" type="hidden">
                                    </form>
                                    <button class="pull-right btn-danger btn"
                                            onclick="$.post('/admin-console/gallery-items/delete',$('#GIDEL{{.ID}}').serialize(),function(data) {
                                                    console.log($('#GIDEL{{.ID}}').serialize());
                                                    if (data === 'SUCCESS'){
                                                    alert('删除成功！');
                                                    }else{
                                                    alert('删除失败！'+data);
                                                    console.log(data);
                                                    }
                                                    parent.location.reload();
                                                    })
                                                    ">删除
                                    </button>
                                    <h5>{{.ItemName}}</h5>
                                    <div class="text-muted"> {{.CreatedAt}}</div>
                                </div>
                                <div class="panel-body">
                                    <h6>{{.ItemDescription}}</h6>
                                    <a href="{{.ImgSource}}">
                                        <img src="{{.ImgSource}}" alt="{{.ImgSource}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    {{range .WorkOrders}}
                        <div class="col-md-12">
                            <div class="panel panel-default fadeInDown animation-delay2">
                                <div class="panel-heading">
                                    <a href="#WO{{.ID}}" data-toggle="modal">
                                        <button class="pull-right btn-success btn">完成</button>
                                    </a>
                                    <h5>{{.UserName}}</h5>
                                    <div class="text-muted"> {{.CreatedAt}}</div>
                                </div>
                                <div class="panel-body">
                                    <h6>{{.OrderTitle}}</h6>
                                    <p>{{.OrderText}}</p>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="formModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>创建新的 KEY</h4>
                <small>
                    创建的 KEY 用于激活指定的商品<br>
                    您可以选择在发卡平台或淘宝等平台售卖 KEY<br>
                    请点击按钮提交表单<br>
                    目前仅支持添加面额为 30 50 100 的余额激活码
                </small>
            </div>
            <div class="modal-body">
                <form id="new-key" class="form-horizontal no-margin form-border">
                    {{.xsrfData}}
                    <div class="form-group">
                        <div class="col-lg-2 control-label">
                            <label>数量</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="number" class="form-control input-sm" name="key_amount"
                                   placeholder="输入想生成 KEY 的数量 ( 1 - 99 的整数 ) 如果留空则为 1 个">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 control-label">
                            <label>KEY 有效期</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="number" class="form-control input-sm" name="valid_duration"
                                   placeholder="输入 KEY 有效期，如果留空则为 2 个月">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <!-- choose -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">商品类型</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="spec_id">
                                {{range .keySpecs}}
                                    <option value="{{.ID}}">{{.Name}} | {{.Description}} | {{.ValidDuration}}</option>
                                {{end}}
                            </select>
                        </div><!-- /.col -->
                    </div>
                    <!-- /choose -->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm" type="button"
                        onclick="window.location='/admin-console/get-keys'">导出 KEY
                </button>
                <button class="btn btn-info btn-sm" type="button" onclick="$.get('/admin-console/new-key?'+$('#new-key').serialize(),function(data) {
                                            console.log($('#new-key').serialize());
                                            if (data === 'SUCCESS'){
                                                alert('创建成功！');
                                            }else{
                                                alert('创建失败！'+data);
                                            }
                                            parent.location.reload();
                                          })
                                        ">确认添加
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{{range .WorkOrders}}
    <div class="modal fade" id="WO{{.ID}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>完成工单</h4>
                </div>
                <div class="modal-body">
                    <form id="WOF{{.ID}}" class="form-horizontal no-margin form-border">
                        {{$.xsrfData}}
                        <input type="hidden" name="workOrderID" value="{{.ID}}">
                        <div class="form-group">
                            <div class="col-lg-2 control-label">
                                <label>消息</label>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control input-sm" name="closeInfo"
                                       placeholder="输入完成工单的提醒消息 将会发给用户">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" type="button"
                            onclick="$.post('/admin-console/close-work-order',$('#WOF{{.ID}}').serialize(),function(data) {
                                    console.log($('#WOF{{.ID}}').serialize());
                                    if (data === 'SUCCESS'){
                                    alert('完成成功！');
                                    }else{
                                    alert('完成失败！'+data);
                                    console.log(data);
                                    }
                                    parent.location.reload();
                                    })
                                    ">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
{{end}}
{{template "tpls/perfectJS.html" .}}
</body>
</html>