
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Perfect Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="preload sidebar-mini">
    <aside class="fixed skin-6">
        <div class="sidebar-inner scrollable-sidebars">
            <div class="main-menu">
                <br>
                <ul>
                    <li class="active openable open">
                        <a href="#">
								<span class="menu-icon">
									<i class="fa fa-file-text fa-lg"></i> 
								</span>
                            <span class="text">
									Page
								</span>
                            <span class="menu-hover"></span>
                        </a>
                        <ul class="submenu">
                            <li><a href="login.html"><span class="submenu-label">Sign in</span></a></li>
                            <li><a href="register.html"><span class="submenu-label">Sign up</span></a></li>
                            <li><a href="lock_screen.html"><span class="submenu-label">Lock Screen</span></a></li>
                            <li><a href="profile.html"><span class="submenu-label">Profile</span></a></li>
                            <li><a href="blog.html"><span class="submenu-label">Blog</span></a></li>
                            <li><a href="single_post.html"><span class="submenu-label">Single Post</span></a></li>
                            <li><a href="landing.html"><span class="submenu-label">Landing</span></a></li>
                            <li><a href="search_result.html"><span class="submenu-label">Search Result</span></a></li>
                            <li><a href="chat.html"><span class="submenu-label">Chat Room</span></a></li>
                            <li><a href="movie.html"><span class="submenu-label">Movie Gallery</span></a></li>
                            <li><a href="pricing.html"><span class="submenu-label">Pricing</span></a></li>
                            <li><a href="invoice.html"><span class="submenu-label">Invoice</span></a></li>
                            <li><a href="faq.html"><span class="submenu-label">FAQ</span></a></li>
                            <li><a href="contact.html"><span class="submenu-label">Contact</span></a></li>
                            <li><a href="error404.html"><span class="submenu-label">Error404</span></a></li>
                            <li><a href="error500.html"><span class="submenu-label">Error500</span></a></li>
                            <li class="active"><a href="blank.html"><span class="submenu-label">Blank</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{.dashboard}}">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i>
								</span>
                            <span class="text">
									翼龙控制台
								</span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li class="openable">
                        <a href="#">
								<span class="menu-icon">
									<i class="fa fa-tag fa-lg"></i> 
								</span>
                            <span class="text">
									Component
								</span>
                            <span class="badge badge-success bounceIn animation-delay5">9</span>
                            <span class="menu-hover"></span>
                        </a>
                        <ul class="submenu">
                            <li><a href="ui_element.html"><span class="submenu-label">UI Features</span></a></li>
                            <li><a href="button.html"><span class="submenu-label">Button & Icons</span></a></li>
                            <li><a href="tab.html"><span class="submenu-label">Tab</span></a></li>
                            <li><a href="nestable_list.html"><span class="submenu-label">Nestable List</span></a></li>
                            <li><a href="calendar.html"><span class="submenu-label">Calendar</span></a></li>
                            <li><a href="table.html"><span class="submenu-label">Table</span></a></li>
                            <li><a href="widget.html"><span class="submenu-label">Widget</span></a></li>
                            <li><a href="form_element.html"><span class="submenu-label">Form Element</span></a></li>
                            <li><a href="form_wizard.html"><span class="submenu-label">Form Wizard</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="timeline.html">
								<span class="menu-icon">
									<i class="fa fa-clock-o fa-lg"></i> 
								</span>
                            <span class="text">
									Timeline
								</span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery.html">
								<span class="menu-icon">
									<i class="fa fa-picture-o fa-lg"></i> 
								</span>
                            <span class="text">
									Gallery
								</span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="inbox.html">
								<span class="menu-icon">
									<i class="fa fa-envelope fa-lg"></i> 
								</span>
                            <span class="text">
									Inbox
								</span>
                            <span class="badge badge-danger bounceIn animation-delay6">4</span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="email_selection.html">
								<span class="menu-icon">
									<i class="fa fa-tasks fa-lg"></i> 
								</span>
                            <span class="text">
									Email Template
								</span>
                            <small class="badge badge-warning bounceIn animation-delay7">New</small>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li class="openable">
                        <a href="#">
								<span class="menu-icon">
									<i class="fa fa-magic fa-lg"></i> 
								</span>
                            <span class="text">
									Multi-Level menu
								</span>
                            <span class="menu-hover"></span>
                        </a>
                        <ul class="submenu second-level">
                            <li class="openable">
                                <a href="#">
                                    <span class="submenu-label">menu 2.1</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right">3</span>
                                </a>
                                <ul class="submenu third-level">
                                    <li><a href="#"><span class="submenu-label">menu 3.1</span></a></li>
                                    <li><a href="#"><span class="submenu-label">menu 3.2</span></a></li>
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">menu 3.3</span>
                                            <span class="badge badge-danger bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="#"><span class="submenu-label">menu 4.1</span></a></li>
                                            <li><a href="#"><span class="submenu-label">menu 4.2</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="openable">
                                <a href="#">
                                    <span class="submenu-label">menu 2.2</span>
                                    <span class="badge badge-success bounceIn animation-delay2 pull-right">3</span>
                                </a>
                                <ul class="submenu third-level">
                                    <li class="openable">
                                        <a href="#">
                                            <span class="submenu-label">menu 3.1</span>
                                            <span class="badge badge-success bounceIn animation-delay1 pull-right">2</span>
                                        </a>
                                        <ul class="submenu fourth-level">
                                            <li><a href="#"><span class="submenu-label">menu 4.1</span></a></li>
                                            <li><a href="#"><span class="submenu-label">menu 4.2</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><span class="submenu-label">menu 3.2</span></a></li>
                                    <li><a href="#"><span class="submenu-label">menu 3.2</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="logoutConfirm_open" href="#logoutConfirm">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i>
								</span>
                            <span class="text">
									登出
								</span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                </ul>

                <div class="alert alert-info">
                    Welcome to Perfect Admin. Do not forget to check all my pages.
                </div>
            </div><!-- /main-menu -->
        </div><!-- /sidebar-inner -->
    </aside>

    <div id="main-container">
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html"> Home</a></li>
                <li class="active">Blank page</li>
            </ul>
        </div><!-- breadcrumb -->
    </div><!-- /main-container -->
</div><!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
<!-- Logout confirmation -->
<div class="custom-popup width-100" id="logoutConfirm">
    <div class="padding-md">
        <h4 class="m-top-none"> 确定要登出吗？您将需要重新登录才能访问部分内容。</h4>
    </div>

    <div class="text-center">
        <a class="btn btn-danger m-right-sm" onclick="logout()" href="/">登出</a>
        <script type="text/javascript">
            function logout() {
                console.log($.cookie());
                $.removeCookie('beegosessionID');
            }
        </script>
    </div>
</div>
{{template "tpls/perfectJS.html" .}}
<script src='../static/perfect/js/jquery.cookie.min.js'></script>
</body>
</html>
