<!DOCTYPE html>
<html lang="zh">
<script src="chrome-extension://ljdobmomdgdljniojadhoplhkpialdid/page/prompt.js"></script>
<script src="chrome-extension://ljdobmomdgdljniojadhoplhkpialdid/page/runScript.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{.title}}</title>

    <!--[if IE 8]>
    <style>.ie8 .alert-circle, .ie8 .alert-footer {
        display: none
    }

    .ie8 .alert-box {
        padding-top: 75px
    }

    .ie8 .alert-sec-text {
        top: 45px
    }</style>
    <![endif]-->
    <style>body {
            margin: 0;
            padding: 0;
            background: #E6EAEB;
            font-family: Arial, '微软雅黑', '宋体', sans-serif
        }

        a {
            text-decoration: none
        }

        .alert-box {
            display: none;
            position: relative;
            margin: 96px auto 0;
            padding: 180px 85px 22px;
            border-radius: 10px 10px 0 0;
            background: #FFF;
            box-shadow: 5px 9px 17px rgba(102, 102, 102, 0.75);
            width: 286px;
            color: #FFF;
            text-align: center
        }

        .alert-box p {
            margin: 0
        }

        .alert-circle {
            position: absolute;
            top: -50px;
            left: 111px
        }

        .alert-sec-circle {
            stroke-dashoffset: 0;
            stroke-dasharray: 735;
            transition: stroke-dashoffset 1s linear
        }

        .alert-sec-text {
            position: absolute;
            top: 11px;
            left: 190px;
            width: 76px;
            color: #000;
            font-size: 68px
        }

        .alert-sec-unit {
            font-size: 34px
        }

        .alert-body {
            margin: 35px 0
        }

        .alert-head {
            color: #242424;
            font-size: 28px
        }

        .alert-concent {
            margin: 25px 0 14px;
            color: #7B7B7B;
            font-size: 18px
        }

        .alert-concent p {
            line-height: 27px
        }

        .alert-btn {
            display: block;
            border-radius: 10px;
            background-color: #4AB0F7;
            height: 55px;
            line-height: 55px;
            width: 286px;
            color: #FFF;
            font-size: 20px;
            text-decoration: none;
            letter-spacing: 2px
        }

        .alert-btn:hover {
            background-color: #6BC2FF
        }

        .alert-footer {
            margin: 0 auto;
            height: 42px;
            width: 120px
        }

        .alert-footer-icon {
            float: left
        }

        .alert-footer-text {
            float: left;
            border-left: 2px solid #EEE;
            padding: 3px 0 0 5px;
            height: 40px;
            color: #0B85CC;
            font-size: 12px;
            text-align: left
        }

        .alert-footer-text p {
            color: #7A7A7A;
            font-size: 22px;
            line-height: 18px
        }</style>
</head>
<body class="ie8 vsc-initialized">
<div id="js-alert-box" class="alert-box" style="display: block;">
    <svg class="alert-circle" width="234" height="234">
        <circle cx="117" cy="117" r="108" fill="#FFF" stroke="#43AEFA" stroke-width="17">
        </circle>
        <circle id="js-sec-circle" class="alert-sec-circle" cx="117" cy="117" r="108" fill="transparent"
                stroke="#F4F1F1" stroke-width="18" transform="rotate(-90 117 117)" style="stroke-dashoffset: -269;">
        </circle>
        <text class="alert-sec-unit" x="60" y="172" fill="#BDBDBD">Seconds</text>
    </svg>
    <div id="js-sec-text" class="alert-sec-text">2</div>
    <div class="alert-body">
        <div id="js-alert-head" class="alert-head">{{.title}}</div>
        <div class="alert-concent">
            <strong>{{.detail}}</strong>
            <br><br>
            <p>
                <a href="{{.URL}}" style="color:#4AB0F7;font-size:28px">{{.URL}}</a>
            </p>
        </div>
        <a id="js-alert-btn" class="alert-btn"
           href="javascript:top.location.href=&#39;{{.URL}}&#39;">立即跳转</a>
    </div>

</div>
<script>function alertSet(e) {
        document.getElementById("js-alert-box").style.display = "block",
            document.getElementById("js-alert-head").innerHTML = e;
        var t = document.getElementById("js-sec-text").innerHTML,
            n = document.getElementById("js-sec-circle");
        setInterval(function () {
                if (0 === t) top.location.href = '{{.URL}}';
                else {
                    t--;
                    document.getElementById("js-sec-text").innerHTML = t;
                    var e = Math.round(t / 3 * 735);
                    n.style.strokeDashoffset = e - 735
                }
            },
            970);
    }</script>


<script>alertSet('{{.title}}');</script>
<script type="text/javascript">function clickIE4() {
        if (event.button == 2) {
            return false
        }
    }

    function clickNS4(e) {
        if (document.layers || document.getElementById && !document.all) {
            if (e.which == 2 || e.which == 3) {
                return false
            }
        }
    }

    function OnDeny() {
        if (event.ctrlKey || event.keyCode == 78 && event.ctrlKey || event.altKey || event.altKey && event.keyCode == 115) {
            return false
        }
    }

    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown = clickNS4;
        document.onkeydown = OnDeny()
    } else if (document.all && !document.getElementById) {
        document.onmousedown = clickIE4;
        document.onkeydown = OnDeny()
    }
    document.oncontextmenu = new Function("return false");</script>


<div class="nsc-panel nsc-panel-compact nsc-hide">
    <div class="nsc-panel-move"></div>
    <div class="nsc-panel-tooltip">
        <div class="nsc-panel-tooltip-layout" layout="row" layout-align="start center">CTRL+V to toggle the panel</div>
    </div>

    <div class="nsc-panel-layout" flex="" layout="row" layout-align="start center">
        <div class="nsc-panel-groups" flex="" layout="row" layout-align="start start">

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <div class="nsc-panel-button separated active">
                    <div class="nsc-panel-select" flex="" layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex="" layout="row" layout-align="center center">
                            <span class="nsc-icon nsc-icon-cursor-normal" data-i18n="videoPanelSimpleCursor"
                                  data-event="nimbus-editor-active-tools" data-event-param="cursorDefault">&nbsp;</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow">&nbsp;</span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown to-top">
                        <ul flex="" layout="row" layout-align="start center">
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-shade" data-i18n="videoPanelFocusMouse"
                                      data-event="nimbus-editor-active-tools"
                                      data-event-param="cursorShadow">&nbsp;</span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-circle" data-i18n="videoPanelAnimatedCursor"
                                      data-event="nimbus-editor-active-tools"
                                      data-event-param="cursorRing">&nbsp;</span>
                            </li>
                            <!--<li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-tail"></span>-->
                            <!--</li>-->
                            <!--<li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-long"></span>-->
                            <!--</li>-->
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-normal" data-i18n="videoPanelSimpleCursor"
                                      data-event="nimbus-editor-active-tools"
                                      data-event-param="cursorDefault">&nbsp;</span>
                            </li>
                            <!--<li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-none" data-event="nimbus-editor-active-tools" data-event-param="cursorNone"></span>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /group -->

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-pen" data-i18n="videoPanelPen"
                          data-event="nimbus-editor-active-tools" data-event-param="pen">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-arrow-line" data-i18n="videoPanelArrow"
                          data-event="nimbus-editor-active-tools" data-event-param="arrow">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-square" data-i18n="videoPanelSquare"
                          data-event="nimbus-editor-active-tools" data-event-param="square">&nbsp;</span>
                </button>
                <div class="nsc-panel-button separated">
                    <div class="nsc-panel-select" flex="" layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex="" layout="row" layout-align="center center">
                            <span class="nsc-icon nsc-icon-attention" data-i18n="videoPanelMark"
                                  data-event="nimbus-editor-active-tools" data-event-param="notifRed">&nbsp;</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow">&nbsp;</span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown to-top">
                        <ul flex="" layout="row" layout-align="start center">
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-attention" data-i18n="videoPanelMark"
                                      data-event="nimbus-editor-active-tools" data-event-param="notifRed">&nbsp;</span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-question" data-i18n="videoPanelQuestion"
                                      data-event="nimbus-editor-active-tools" data-event-param="notifBlue">&nbsp;</span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex="" layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-done" data-i18n="videoPanelCheckmark"
                                      data-event="nimbus-editor-active-tools"
                                      data-event-param="notifGreen">&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nsc-panel-button assembled">
                    <div class="nsc-panel-select" flex="" layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex="" layout="row" layout-align="center center">
							<span class="nsc-icon nsc-icon-fill-none nsc-panel-icon-fill">
								<span class="nsc-panel-icon-fill-inner" id="nsc_panel_button_colors"
                                      style="background:#00FF00;" data-event="nimbus-editor-active-color"
                                      data-event-param="#00FF00">&nbsp;</span>
							</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow">&nbsp;</span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown">
                        <div class="nsc-panel-drop-area">
                            <div class="nsc-panel-colors">

                                <!-- picked -->
                                <div class="nsc-colors-picked">
                                    <div class="nsc-colors-picked-layout" flex="" layout="row"
                                         layout-align="start start" layout-wrap="">
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#000000">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #000000;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#0000FF">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #0000FF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#FF00FF">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #FF00FF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#00FFFF">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #00FFFF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#00FF00">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #00FF00;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#FFFF00">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #FFFF00;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#FF0000">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #FF0000;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <div class="nsc-colors-picked-item">
                                            <button class="nsc-colors-picked-button" type="button"
                                                    data-event="nimbus-editor-active-color" data-event-param="#FFFFFF">
                                                <span class="nsc-colors-picked-button-inner"
                                                      style="background: #FFFFFF;">&nbsp;</span>
                                            </button>
                                        </div>
                                        <!--<div class="nsc-colors-picked-item">-->
                                        <!--<button class="nsc-colors-picked-button custom" type="button"> -->
                                        <!--<i class="nsc-icon ic-color-custom"></i> -->
                                        <!--</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- /picked -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /group -->

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <button class="nsc-panel-button nsc-hide" type="button">
                    <span class="nsc-icon nsc-icon-eraser" data-i18n="videoPanelClear"
                          data-event="nimbus-editor-active-tools" data-event-param="clear">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-eraser-all" data-i18n="videoPanelClearAll"
                          data-event="nimbus-editor-active-tools" data-event-param="clearAll">&nbsp;</span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-webcam" data-i18n="videoPanelCamera" id="nimbus_web_camera_toggle">&nbsp;</span>
                </button>
            </div>
            <!-- /group -->
        </div>

        <div class="nsc-panel-actions" flex="none" layout="row" layout-align="start center">
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_play" style="display: none;">
                <span class="nsc-icon nsc-icon-play">&nbsp;</span>
            </button>
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_pause">
                <span class="nsc-icon nsc-icon-pause">&nbsp;</span>
            </button>
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_stop">
                <span class="nsc-icon nsc-icon-stop">&nbsp;</span>
            </button>
        </div>

        <!-- panel togglers -->
        <div class="nsc-panel-togglers" layout="row" layout-align="start center" flex="none">
            <button class="nsc-panel-toggle-button" type="button">
                <span class="nsc-icon nsc-icon-panel-close" data-i18n="videoPanelHideShowPanel">&nbsp;</span>
            </button>
        </div>
        <!-- /panel togglers -->

    </div>
</div>
<div class="nsc-video-editor nsc-hide"></div>
<div class="nsc-content-camera nsc-hide">
    <div class="nsc-content-camera-buttons" flex="none" layout="row" layout-align="start start">
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_collapse" style="display: none">
            <span class="nsc-icon nsc-icon-panel-collapse"></span>
        </button>
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_expand">
            <span class="nsc-icon nsc-icon-panel-expand"></span>
        </button>
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_close">
            <span class="nsc-icon nsc-icon-panel-close"></span>
        </button>
    </div>
    <div class="nsc-content-camera-container">
        <div class="nsc-content-camera-shadow"></div>
    </div>
</div>
</body>
</html>