<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{i18n Lang "auth.login"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body>
<div class="login-wrapper">
    <div class="text-center" title='{{i18n Lang "auth.return"}}'>
        <h2 class="fadeInUp animation-delay6" style="font-weight:bold">
            <a href="/" class="tooltip-test" data-toggle="tooltip" data-placement="top" data-original-title='{{i18n Lang "auth.return"}}'><i
                        class="fa fa-home fa-lg"></i> <span class="text-success">{{.webApplicationName}}</span> <span
                        style="color:#ccc; text-shadow:0 1px #fff"> {{i18n Lang "auth.account"}}</span></a>
        </h2>
    </div>
    <div class="login-widget animation-delay1">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <i class="fa fa-lock fa-lg"></i> {{i18n Lang "auth.find_password"}}
                </div>
                <div class="pull-right">
                    <span style="font-size:11px;">{{i18n Lang "auth.come_up"}}</span>
                    <a class="btn btn-default btn-xs login-link" href="/login" style="margin-top:-2px;"><i
                                class="fa fa-lock fa-lg"></i> {{i18n Lang "auth.login"}}</a>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-login" method="post">
                    {{.xsrfData}}
                    <div class="form-group fadeInDown animation-delay2">
                        <label>{{i18n Lang "auth.email"}}</label>
                        <div class="input-group">
                            <input id="email" name="email" type="text" class="form-control" placeholder='{{i18n Lang "auth.input_email"}}'>
                            <span class="input-group-btn">
                                <button id="send_email" class="btn btn-default tooltip-test" data-toggle="tooltip"
                                        data-placement="top" data-original-title='{{i18n Lang "auth.email_captcha_limit"}}' type="button"
                                        onclick="send()"><small id="cooldown">{{i18n Lang "auth.email_captcha_send"}}👍</small></button>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript" async="async">
                        function send() {
                            $.get({{.webHostName}}+"/forget-password-mail/" + $("#email").val());
                            $("#send_email").attr("disabled", "disabled");
                            var second = 60;
                            var origin_text = $("#cooldown").text()
                            var intervalObj = setInterval(
                                function () {
                                    $("#cooldown").text(origin_text + "(" + second + ")");
                                    if (second == 0) {
                                        $("#cooldown").text(origin_text);
                                        $("#send_email").removeAttr("disabled")
                                        clearInterval(intervalObj);
                                    }
                                    second--;
                                }, 1000
                            )
                        }
                    </script>
                    <div class="form-group">
                        <label>{{i18n Lang "auth.captcha"}}</label>
                        <input type="text" placeholder='{{i18n Lang "auth.input_email_captcha"}}'
                               class="form-control input-sm fadeInDown animation-delay3" name="cpt" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>{{i18n Lang "auth.password"}}</label>
                        <input type="password" placeholder='{{i18n Lang "auth.password"}}'
                               class="form-control input-sm fadeInDown animation-delay4" name="password">
                    </div><!-- /form-group -->
                    <div class="form-group">
                        <label>{{i18n Lang "auth.password_confirm"}}</label>
                        <input type="password" placeholder='{{i18n Lang "auth.input_password_confirm"}}'
                               class="form-control input-sm fadeInDown animation-delay4" name="passwordConfirm">
                    </div><!-- /form-group -->
                    <hr/>
                    {{if .hasError}}
                        <div class="alert alert-danger">
                            <strong>{{i18n Lang "auth.change_failed"}}</strong> {{.hasErrorText}}
                        </div>
                    {{end}}
                    <div class="row">
                        <div class="col-lg-8 bounceIn animation-delay8">
                            <h4><strong>{{i18n Lang "auth.please_remember"}}</strong></h4>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-success btn-sm bounceIn animation-delay5 pull-right" type="submit"><i
                                        class="fa fa-sign-in">{{i18n Lang "auth.change_confirm"}}</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /panel -->
    </div><!-- /login-widget -->
</div><!-- /login-wrapper -->
{{template "tpls/perfectJS.html" .}}
</body>
</html>
