<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} 登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body>
<div class="login-wrapper">
    <div class="text-center" title="点击返回首页">
        <h2 class="fadeInUp animation-delay6" style="font-weight:bold">
            <a href="/" class="tooltip-test" data-toggle="tooltip" data-placement="top" data-original-title="点击返回主页"><i
                        class="fa fa-home fa-lg"></i> <span class="text-success">{{.webApplicationName}}</span> <span
                        style="color:#ccc; text-shadow:0 1px #fff"> 账户</span></a>
        </h2>
    </div>
    <div class="login-widget animation-delay1">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <i class="fa fa-lock fa-lg"></i> 找回账户密码
                </div>
                <div class="pull-right">
                    <span style="font-size:11px;">突然想起来了？</span>
                    <a class="btn btn-default btn-xs login-link" href="/login" style="margin-top:-2px;"><i
                                class="fa fa-lock fa-lg"></i> 登录</a>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-login" method="post">
                    {{.xsrfData}}
                    <div class="form-group fadeInDown animation-delay2">
                        <label>邮箱</label>
                        <div class="input-group">
                            <input id="email" name="email" type="text" class="form-control" placeholder="输入您注册时使用的邮箱">
                            <span class="input-group-btn">
                                <button id="send_email" class="btn btn-default tooltip-test" data-toggle="tooltip"
                                        data-placement="top" data-original-title="每六十秒只能发送一次" type="button"
                                        onclick="send()"><small id="cooldown">发送验证码👍</small></button>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript" async="async">
                        function send() {
                            $.get({{.webHostName}}+"/forget-password-mail/" + $("#email").val());
                            $("#send_email").attr("disabled", "disabled");
                            var second = 60;
                            var origin_text = $("#cooldown").text()
                            var intervalObj = setInterval(
                                function () {
                                    $("#cooldown").text(origin_text + "(" + second + ")");
                                    if (second == 0) {
                                        $("#cooldown").text(origin_text);
                                        $("#send_email").removeAttr("disabled")
                                        clearInterval(intervalObj);
                                    }
                                    second--;
                                }, 1000
                            )
                        }
                    </script>
                    <div class="form-group">
                        <label>验证码</label>
                        <input type="text" placeholder="输入刚刚发送至您邮箱的验证码"
                               class="form-control input-sm fadeInDown animation-delay3" name="cpt" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>登录密码</label>
                        <input type="password" placeholder="设置您的登录密码"
                               class="form-control input-sm fadeInDown animation-delay4" name="password">
                    </div><!-- /form-group -->
                    <div class="form-group">
                        <label>确认登录密码</label>
                        <input type="password" placeholder="确认您的登录密码，应与上面的密码保持一致"
                               class="form-control input-sm fadeInDown animation-delay4" name="passwordConfirm">
                    </div><!-- /form-group -->
                    <hr/>
                    {{if .hasError}}
                        <div class="alert alert-danger">
                            <strong>修改失败！</strong> {{.hasErrorText}}
                        </div>
                    {{end}}
                    <div class="row">
                        <div class="col-lg-8 bounceIn animation-delay8">
                            <h4><strong>请牢记您的密码:-)</strong></h4>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-success btn-sm bounceIn animation-delay5 pull-right" type="submit"><i
                                        class="fa fa-sign-in"></i> 确认修改
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /panel -->
    </div><!-- /login-widget -->
</div><!-- /login-wrapper -->
{{template "tpls/perfectJS.html" .}}
</body>
</html>
