<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} 登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body>
<div class="login-wrapper">
    <div class="text-center" title="点击返回首页">
        <h2 class="fadeInUp animation-delay6" style="font-weight:bold">
            <a href="/" class="tooltip-test" data-toggle="tooltip" data-placement="top" data-original-title="点击返回主页" ><i class="fa fa-home fa-lg"></i> <span class="text-success">{{.webApplicationName}}</span> <span style="color:#ccc; text-shadow:0 1px #fff"> 账户</span></a>
        </h2>
    </div>
    <div class="login-widget animation-delay1">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <i class="fa fa-lock fa-lg"></i> 登录
                </div>

                <div class="pull-right">
                    <span style="font-size:11px;">还没有账号？😐</span>
                    <a class="btn btn-default btn-xs login-link" href="/reg" style="margin-top:-2px;"><i
                                class="fa fa-plus-circle"></i> 注册</a>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-login" method="post">
                    {{.xsrfData}}
                    <div class="form-group">
                        <label>用户名或邮箱</label>
                        <input type="text" placeholder="输入您注册时用的用户名或邮箱"
                               class="form-control input-sm bounceIn animation-delay2" name="loginEOU">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" placeholder="输入密码"
                               class="form-control input-sm bounceIn animation-delay4" name="loginPass">
                    </div>
                    <div class="form-group" >
                        <label class="label-checkbox inline">
                            <input type="checkbox" class="regular-checkbox chk-delete" name="loginRemember" value="true"/>
                            <span class="custom-checkbox info bounceIn animation-delay4"></span>
                        </label >
                        <label class="tooltip-test" data-toggle="tooltip" data-placement="bottom" data-original-title="选中后2个月内不需要登录">记住我的登录</label>
                    </div>
                    <hr/>
                    {{if .hasError}}
                        <div class="alert alert-danger">
                            <strong>登录失败！</strong> {{.hasErrorText}}
                        </div>
                    {{end}}
                    <div class="row">
                        <div class="col-lg-8">
                                <a href="/forget-password"  class="tooltip-test" data-toggle="tooltip" data-placement="bottom" data-original-title="点击找回密码😀" >忘记密码？</a>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-success btn-sm bounceIn animation-delay5 pull-right" type="submit"><i
                                        class="fa fa-sign-in"></i> 登录
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /panel -->
    </div><!-- /login-widget -->
</div><!-- /login-wrapper -->
{{template "tpls/perfectJS.html" .}}
</body>
</html>
