<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.webApplicationName}} 添加整合包</title>
    {{template "tpls/perfectCSS.html" .}}
</head>
<body>
{{template "tpls/navbar.html" .}}
<div class="container-fluid">
    <div id="main-container" class="no-margin">
        <div class="padding-md">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><strong>添加整合包</strong></h4></div>
                        <div class="panel-body">
                            <form role="form" method="post" id="new-pack">
                                {{.xsrfData}}
                                {{range .options}}
                                    {{template "tpls/formgroup.html" .}}
                                {{end}}
                            </form>
                            <hr/>
                            {{if .hasError}}
                                <div class="alert alert-danger">
                                    <strong>添加失败！</strong> {{.hasErrorText}}
                                </div>
                            {{end}}
                            <button type="submit" form="new-pack" class="btn btn-success btn-sm">确认添加</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        怎么填比较合适？
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                                <div class="panel-body">
                                    在不甚了解的选项中尽量填入我们建议的值，可选选项尽量不填，我们会根据默认值自动处理。
                                </div>
                            </div>
                        </div><!-- /panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        确保整合包可以使用
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    在本站添加整合包前请确认翼龙面板中的对应整合包可以使用，并且及时同步这些数据
                                </div>
                            </div>
                        </div><!-- /panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        可能会安装失败
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    一次安装可能会失败，并且有一定的延迟，您应该提醒用户多试几次。
                                </div>
                            </div>
                        </div><!-- /panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "tpls/perfectJS.html" .}}
</body>
</html>