<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.webApplicationName}} {{i18n Lang "new_pack.title"}}</title>
    {{template "tpls/perfectCSS.html" .}}
</head>
<body>
{{template "tpls/navbar.html" .}}
<div class="container-fluid">
    <div id="main-container" class="no-margin">
        <div class="padding-md">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><strong>{{i18n Lang "new_pack.title"}}</strong></h4></div>
                        <div class="panel-body">
                            <form role="form" method="post" id="new-pack">
                                {{.xsrfData}}
                                {{range .options}}
                                    {{template "tpls/formgroup.html" .}}
                                {{end}}
                            </form>
                            <hr/>
                            {{if .hasError}}
                                <div class="alert alert-danger">
                                    <strong>{{i18n Lang "new_pack.failed"}}</strong> {{.hasErrorText}}
                                </div>
                            {{end}}
                            <button type="submit" form="new-pack" class="btn btn-success btn-sm">{{i18n Lang "new_pack.confirm"}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                        {{i18n Lang "new_pack.tips1"}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                                <div class="panel-body">
                                    {{i18n Lang "new_pack.tips2"}}
                                </div>
                            </div>
                        </div><!-- /panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo">
                                        {{i18n Lang "new_pack.tips3"}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    {{i18n Lang "new_pack.tips4"}}
                                </div>
                            </div>
                        </div><!-- /panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseThree">
                                        {{i18n Lang "new_pack.tips5"}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    {{i18n Lang "new_pack.tips6"}}
                                </div>
                            </div>
                        </div><!-- /panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "tpls/perfectJS.html" .}}
</body>
</html>