<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{i18n .lang "order.title"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}

</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="main-container">
    <div class="row fadeInDown animation-delay1">
        <div class="col-lg-10">
            <div id="wrapper">
                <div class="padding-md">
                    <div class="clearfix">
                        <div class="pull-left">
						<span class="img-demo">
							{{.wareName}}
						</span>
                            <div class="pull-left m-left-sm">
                                <h3 class="m-bottom-xs m-top-xs">{{.userName}}</h3>
                                <span class="text-muted">{{.userEmail}}</span>
                            </div>
                        </div>
                        <div class="pull-right">
                            <h4><strong>{{i18n .lang "order.id"}}：#{{.orderID}}</strong></h4>
                            <strong>{{i18n .lang "order.time"}}：{{.orderCreateTime}}</strong>
                        </div>
                    </div>
                    <hr>
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4>
                                <strong>{{i18n .lang "order.title"}}</strong>
                                {{if .paid}}
                                    <span class="label label-success">{{i18n .lang "order.payed"}}</span>
                                {{else}}
                                    <span class="label label-danger">{{i18n .lang "order.not_payed"}}</span>
                                {{end}}
                            </h4>
                            <address>
                                {{i18n .lang "order.admin_address"}}：{{.adminAddress}}
                            </address>
                        </div>
                    </div>
                    <table class="table table-striped m-top-md" id="dataTable">
                        <thead>
                        <tr class="bg-theme">
                            <th>{{i18n .lang "order.id"}}</th>
                            <th>{{i18n .lang "order.name"}}</th>
                            <th>{{i18n .lang "order.monthly"}}</th>
                            <th>{{i18n .lang "order.type"}}</th>
                            <th>{{i18n .lang "order.total"}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#{{.orderID}}</td>
                            <td>{{.wareName}}</td>
                            <td>￥{{.pricePerMonth}}</td>
                            <td>{{.typeText}}</td>
                            <td>￥{{.originPrice}}</td>
                        </tr>
                        <tr>
                        </tbody>
                    </table>
                    <div class="padding-sm bg-grey">
                        <p>{{i18n .lang "order.term"}}</p>
                    </div>
                    <hr>
                    {{if .hasError}}
                        <div class="alert alert-danger">
                            <strong>{{i18n .lang "order.failed"}}</strong> {{.hasErrorText}}
                        </div>
                    {{else if .hasSuccess}}
                        <div class="alert alert-success">
                            <strong>{{i18n .lang "order.success"}}</strong> {{i18n .lang "order.success_tips"}}
                        </div>
                    {{end}}
                </div>
                <div class="pull-right">
                    <table class="table m-top-md">
                        <tbody>
                        <tr class="no-border">
                            <td class="no-border"></td>
                            <td class="no-border"></td>
                            <td class="no-border"></td>
                            <td class="text-right no-border"><strong><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{i18n .lang "order.total"}}</font></font></strong></td>
                            <td><strong><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">￥ {{.originPrice}}</font></font></strong>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="no-border"></td>
                            <td class="no-border"></td>
                            <td class="no-border"></td>
                            <td class="text-right no-border"><strong><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{i18n .lang "order.discount"}}</font></font></strong></td>
                            <td><strong><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">￥ {{.discountPrice}}</font></font></strong>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="no-border"></td>
                            <td class="no-border"></td>
                            <td class="no-border"></td>
                            <td class="text-right no-border"><strong><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">{{i18n .lang "order.total"}}</font></font></strong></td>
                            <td><strong class="text-danger"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">￥ {{.finalPrice}}</font></font></strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#formModal1" role="button" data-toggle="modal"
                       class="btn btn-info btn-small fadeInDown animation-delay2"
                       {{if .paid}}disabled="disabled"{{end}}>{{i18n .lang "order.pay_with_balance"}}</a>
                    <a href="#formModal2" role="button" data-toggle="modal"
                       class="btn btn-primary btn-small fadeInDown animation-delay2"
                       {{if .paid}}disabled="disabled"{{end}}>{{i18n .lang "order.pay_with_key"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4>{{i18n .lang "order.pay_with_balance"}}</h4>
            </div>
            <div class="modal-body">
                <form id="payByBalance" class="form-horizontal no-margin form-border">
                    {{.xsrfData}}
                    <!-- choose -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{i18n .lang "order.server_address"}}</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="selected_ip">
                                {{range .ips}}
                                    <option value="{{.ID}} {{.IP}}">{{.IP}}</option>
                                {{end}}
                            </select>
                            <span class="help-block">{{i18n .lang "order.server_address_tips"}}</span>
                        </div><!-- /.col -->
                    </div>
                    <!-- /choose -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm"
                        onclick="$.get('/order/{{.orderID}}/pay-by-balance?'+$('#payByBalance').serialize(),function(data) {
                                console.log($('#payByBalance').serialize());
                                if (data === 'SUCCESS'){
                                alert('支付成功！请前往控制台确认！');
                                }else{
                                alert('支付失败！'+data);
                                }
                                parent.location.reload();
                                })
                                ">{{i18n .lang "order.confirm"}}
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<div class="modal fade" id="formModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4>{{i18n .lang "order.buy_key_tips1"}}</h4>
                <small>{{i18n .lang "order.buy_key_tips2"}}</small>
            </div>
            <div class="modal-body">
                <form method="post" id="pay" class="form-horizontal no-margin form-border">
                    {{.xsrfData}}
                    <div class="form-group">
                        <div class="col-lg-2 control-label">
                            <label>{{i18n .lang "order.cdkey"}}</label>
                        </div>
                        <div class="col-lg-10">

                            <input type="text" class="form-control input-sm" name="key"
                                   placeholder='{{i18n .lang "order.input_cdkey"}}'>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <!-- choose -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">{{i18n .lang "order.server_address"}}</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="selected_ip">
                                {{range .ips}}
                                    <option value="{{.ID}} {{.IP}}">{{.IP}}</option>
                                {{end}}
                            </select>
                            <span class="help-block">{{i18n .lang "order.server_address_tips"}}</span>
                        </div><!-- /.col -->
                    </div>
                    <!-- /choose -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="pay" class="btn btn-info btn-sm">{{i18n .lang "order.confirm"}}</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
{{template "tpls/perfectJS.html" .}}
</body>
</html>
