<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/Register.css">
    <title>{{.webApplicationName}}Register</title>
</head>

<body>
    <div class="login-box">
        <div class="logo">
            <a href="{{.webHostName}}">Nightgod Register</a>
        </div>
        <div class="box">
            <div class="header">
                <span>Welcome to Nightgod SKIN</span>
            </div>
            <div class="body">
                <form>
                    <div class="username form-item">
                        <div class="prepend">
                            <i></i>
                        </div>
                        <input autocomplete="off" spellcheck="false" type="text" placeholder="Username" name="registerName">
					</div>
					<div class="email form-item">
                        <div class="prepend">
                            <i></i>
                        </div>
                        <input autocomplete="off" spellcheck="false" type="text" placeholder="Email Address" name="registerEmail">
                    </div>
                    <div class="password form-item">
                        <div class="prepend">
                            <i></i>
                        </div>
                        <input autocomplete="off" spellcheck="false" type="password" placeholder="Password" name="registerPassword">
					</div>
					<div class="password form-item">
                        <div class="prepend">
                            <i></i>
                        </div>
                        <input autocomplete="off" spellcheck="false" type="password" placeholder="Password Again" name="registerPasswordConfirm">
					</div>
                </form>
            </div>
            <div class="footer">
                <button type="button">
                    <span>Register</span>
                </button>
                <a href="/login">Already have an account? Log in now!</a>
            </div>
        </div>
    </div>
    <script src="../static/js/Login.js"></script>
</body>

</html>