<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{i18n .lang "work_order.title"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="sidebar-mini">
    {{template "tpls/sidebar.html" .}}
    <!-- main-container -->
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default fadeInDown animation-delay1">
                <form id="work-order" data-validate="parsley" novalidate="">
                    {{.xsrfData}}
                    <div class="panel-heading">
                        <h4>
                            <strong>{{i18n .lang "work_order.title"}}</strong>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">{{i18n .lang "work_order.name"}}</label>
                            <input type="text" placeholder='{{i18n .lang "work_order.input_name"}}'
                                   class="form-control input parsley-validated" data-required="true" name="title">
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{i18n .lang "work_order.description"}}</label>
                            <textarea class="form-control input-lg parsley-validated"
                                      placeholder='{{i18n .lang "work_order.input_description"}}' rows="7" data-required="true"
                                      name="text"></textarea>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="margin-md">
                            <div class="col-md-12">
                                <h6>
                                    {{i18n .lang "work_order.tips1"}}
                                </h6>
                                <p class="text-muted">
                                    {{i18n .lang "work_order.tips2"}}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <h6>
                                    {{i18n .lang "work_order.tips3"}}
                                </h6>
                                <p class="text-muted">
                                    {{i18n .lang "work_order.tips4"}}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <h6>
                                    {{i18n .lang "work_order.tips5"}}
                                </h6>
                                <p class="text-muted">
                                    {{i18n .lang "work_order.tips6"}}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <h6>
                                    {{i18n .lang "work_order.tips7"}}
                                </h6>
                                <p class="text-muted">
                                    {{i18n .lang "work_order.tips8"}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="button" onclick="$.post('/user-work-order/post', $('#work-order').serialize(),function(data) {
                            console.log($('#work-order').serialize());
                            if (data==='SUCCESS'){
                                alert('success');
                                parent.location.reload();
                            }else{
                                alert('failed: '+data);
                            }
                        })">{{i18n .lang "work_order.submit"}}
                        </button>
                        <button class="btn btn-danger" type="reset">{{i18n .lang "work_order.reset"}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /main-container -->
</div><!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
<!-- Logout confirmation -->

{{template "tpls/perfectJS.html" .}}
<script src='../static/perfect/js/jquery.cookie.min.js'></script>
</body>
</html>
