<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{i18n Lang "user_console.user_console"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="sidebar-mini">
    {{template "tpls/sidebar.html" .}}
    <div id="main-container">
        <!-- main-container -->
        <div class="main-header clearfix fadeInDown animation-delay1">
            <div class="page-title">
                <h3 class="no-margin">{{i18n Lang "user_console.server_info"}}</h3>
                <span>{{i18n Lang "user_console.welcome"}} {{.userName}}</span>
            </div><!-- /page-title -->
        </div>
        <div class="padding-md ">
            <div class="row fadeInDown animation-delay2">
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-danger">
                        <h2 class="m-top-none" id="userCount">{{.infoTotalOnline}}</h2>
                        <h5>{{i18n Lang "user_console.total_players"}}</h5>
                        <div class="stat-icon">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-info">
                        <h2 class="m-top-none"><span id="serverloadCount">{{.infoServerCount}}</span></h2>
                        <h5>{{i18n Lang "user_console.total_servers"}}</h5>
                        <div class="stat-icon">
                            <i class="fa fa-hdd-o fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-warning">
                        <h2 class="m-top-none" id="orderCount">{{.infoOrderCount}}</h2>
                        <h5>{{i18n Lang "user_console.total_orders"}}</h5>
                        <div class="stat-icon">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-success">
                        <h2 class="m-top-none" id="visitorCount">{{.infoTotalUpTime}}</h2>
                        <h5>{{i18n Lang "user_console.total_uptime"}}</h5>
                        <div class="stat-icon">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div>
            <div class="row fadeInUp animation-delay2">
                <div class="col-lg-8">
                    {{range .servers}}
                        {{template "tpls/serverinfo.html" .}}
                    {{end}}
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <span class="pull-left">Tips</span>
                        </div>
                        <div class="panel-body no-padding collapse in">
                            <div class="padding-md">
                                <div class="col-md-12">
                                    <h5>
                                        {{i18n Lang "user_console.console_account"}}
                                    </h5>
                                    <p class="text-muted">
                                        {{i18n Lang "user_console.console_account_tips"}}
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <h5>
                                        {{i18n Lang "user_console.account_safety"}}
                                    </h5>
                                    <p class="text-muted">
                                        {{i18n Lang "user_console.account_safety_tips"}}
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-muted">
                                        Panel powered by <a href="https://github.com/minoic/peo">minoic/peo.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /main-container -->
            {{range .servers}}
                {{template "tpls/serverinfoModal.html" .}}
            {{end}}
        </div>
    </div><!-- /wrapper -->

    <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
    <!-- Logout confirmation -->
    {{template "tpls/perfectJS.html" .}}
    <script src='../static/perfect/js/jquery.cookie.min.js'></script>
</div>
</body>
</html>
