<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} 用户控制台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="sidebar-mini">
    {{template "tpls/sidebar.html" .}}
    <div id="main-container">
        <!-- main-container -->
        <div class="main-header clearfix fadeInDown animation-delay1">
            <div class="page-title">
                <h3 class="no-margin">服务器信息</h3>
                <span>欢迎回来 {{.userName}}</span>
            </div><!-- /page-title -->
        </div>
        <div class="padding-md ">
            <div class="row fadeInDown animation-delay2">
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-danger">
                        <h2 class="m-top-none" id="userCount">{{.infoTotalOnline}}</h2>
                        <h5>服务器总在线人数</h5>
                        <div class="stat-icon">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-info">
                        <h2 class="m-top-none"><span id="serverloadCount">{{.infoServerCount}}</span></h2>
                        <h5>服务器数量</h5>
                        <div class="stat-icon">
                            <i class="fa fa-hdd-o fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-warning">
                        <h2 class="m-top-none" id="orderCount">{{.infoOrderCount}}</h2>
                        <h5>订单数量</h5>
                        <div class="stat-icon">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-success">
                        <h2 class="m-top-none" id="visitorCount">{{.infoTotalUpTime}}</h2>
                        <h5>服务器总运行时间</h5>
                        <div class="stat-icon">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div>
            <div class="row fadeInUp animation-delay2">
                <div class="col-lg-8">
                    {{range .servers}}
                        {{template "tpls/serverinfo.html" .}}
                    {{end}}
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <span class="pull-left">Tips</span>
                        </div>
                        <div class="panel-body no-padding collapse in">
                            <div class="padding-md">
                                <div class="col-md-12">
                                    <h5>
                                        控制台账户
                                    </h5>
                                    <p class="text-muted">
                                        由于售卖网站与控制台分开部署，您在购买前需要确认是否已成功创建控制台账户，一般来说在您确认邮箱后会自动创建，您也可以在 账户设置 中检查或创建。<br>
                                        点击左侧<strong style="color:
                                            darkred">翼龙控制台，默认登陆密码是您的用户名</strong>，您可以在登录后修改密码或设置谷歌2FA。
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <h5>
                                        账户安全
                                    </h5>
                                    <p class="text-muted">
                                        如果您的控制台账户被盗，您的数据将面临风险，我们建议您及时修改控制台密码，完成邮箱确认，以便在丢失密码时及时找回。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /main-container -->
            {{range .servers}}
                {{template "tpls/serverinfoModal.html" .}}
            {{end}}
        </div>
    </div><!-- /wrapper -->

    <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
    <!-- Logout confirmation -->
    {{template "tpls/perfectJS.html" .}}
    <script src='../static/perfect/js/jquery.cookie.min.js'></script>
</body>
</html>
