
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} 用户控制台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="preload sidebar-mini">
    {{template "tpls/sidebar.html" .}}
    <!-- main-container -->
    <div id="main-container">
        <div class="padding-md">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <form class="form-horizontal form-border no-margin" id="basic-constraint" data-validate="parsley" novalidate="" method="post" action="/user-settings/change-password">
                            <div class="panel-heading">
                                修改密码
                            </div>
                            <div class="panel-body">
                                {{.xsrfData}}
                                <div class="form-group">
                                    <label class="control-label col-lg-3">旧密码</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control input-sm parsley-validated" placeholder="输入您账号原来的密码" name="oldPassword">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">新密码</label>
                                    <div class="col-lg-9">
                                        <input type="password" placeholder="输入新密码" class="form-control input-sm" name="newPassword">
                                        <div class="seperator"></div>
                                        <input type="password" placeholder="确认新密码" class="form-control input-sm" name="confirmPassword">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                            </div>
                            {{if .hasError}}
                                <div class="alert alert-danger">
                                    <strong>修改失败！</strong> {{.hasErrorText}}
                                </div>
                            {{end}}
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary">确认修改</button>
                            </div>
                        </form>
                    </div><!-- /panel -->
                </div><!-- /.col-->
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <form class="form-horizontal form-border no-margin" id="type-constraint" data-validate="parsley" novalidate="" method="post" action="/user-settings/change-email">
                            <div class="panel-heading">
                                修改绑定邮箱
                            </div>
                            <div class="panel-body">
                                {{.xsrfData}}
                                <div>
                                    <label class="control-label col-lg-3">新邮箱</label>
                                    <div class="col-lg-9 input-group">
                                        <input id="email" name="email" type="text" class="form-control" placeholder="输入您要修改的新邮箱">
                                        <span class="input-group-btn">
                                            <button id="send_email" class="btn btn-default tooltip-test" data-toggle="tooltip" data-placement="top" data-original-title="每六十秒只能发送一次" type="button" onclick="send()"><small id="cooldown">发送验证码👍</small></button>
                                            </span>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <script type="text/javascript" async="async">
                                    function send() {
                                        $.get({{.webHostName}}+"/user-settings/change-email/"+$("#email").val());
                                        $("#send_email").attr("disabled","disabled");
                                        var second = 60;
                                        var origin_text = $("#cooldown").text()
                                        var intervalObj = setInterval(
                                            function () {
                                                $("#cooldown").text(origin_text+ "(" + second + ")");
                                                if(second==0){
                                                    $("#cooldown").text(origin_text);
                                                    $("#send_email").removeAttr("disabled")
                                                    clearInterval(intervalObj);
                                                }
                                                second--;
                                            },1000
                                        )
                                    }
                                </script>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">验证码</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control input-sm parsley-validated" placeholder="输入发送到您新邮箱里的验证码" name="captcha">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                            </div>
                            {{if .hasError2}}
                                <div class="alert alert-danger">
                                    <strong>修改失败！</strong> {{.hasErrorText2}}
                                </div>
                            {{end}}
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary">确认修改</button>
                            </div>
                        </form>
                    </div><!-- /panel -->
                </div><!-- /.col-->
            </div>
        </div>
    </div>
    <!-- /main-container -->
</div><!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
<!-- Logout confirmation -->
<div class="custom-popup width-100" id="logoutConfirm">
    <div class="padding-md">
        <h4 class="m-top-none"> 确定要登出吗？您将需要重新登录才能访问部分内容。</h4>
    </div>

    <div class="text-center">
        <a class="btn btn-danger m-right-sm" onclick="logout()" href="/">登出</a>
        <script type="text/javascript">
            function logout() {
                console.log($.cookie());
                $.removeCookie('beegosessionID');
            }
        </script>
    </div>
</div>
{{template "tpls/perfectJS.html" .}}
<script src='../static/perfect/js/jquery.cookie.min.js'></script>
</body>
</html>
