<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{i18n .lang "user_settings.title"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="sidebar-mini">
    {{template "tpls/sidebar.html" .}}
    <!-- main-container -->
    <div id="main-container">
        <div class="padding-md">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default fadeInDown animation-delay1">
                        <form class="form-horizontal form-border no-margin" id="basic-constraint"
                              data-validate="parsley" novalidate="" method="post"
                              action="/user-settings/change-password">
                            <div class="panel-heading">
                                <h5><strong>{{i18n .lang "user_settings.change_password"}}</strong></h5>
                                <span>{{i18n .lang "user_settings.change_password_tips"}}</span>
                            </div>
                            <div class="panel-body">
                                {{.xsrfData}}
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.old_password"}}</label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control input-sm parsley-validated"
                                               placeholder='{{i18n .lang "user_settings.input_old_password"}}' name="oldPassword">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.new_password"}}</label>
                                    <div class="col-lg-8">
                                        <input type="password" placeholder='{{i18n .lang "user_settings.input_new_password"}}' class="form-control input-sm"
                                               name="newPassword">
                                        <div class="seperator"></div>
                                        <input type="password" placeholder='{{i18n .lang "user_settings.input_confirm_new_password"}}' class="form-control input-sm"
                                               name="confirmPassword">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                            </div>
                            {{if .hasError}}
                            <div class="alert alert-danger">
                                <strong>{{i18n .lang "user_settings.change_failed"}}</strong> {{.hasErrorText}}
                            </div>
                            {{end}}
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-info">{{i18n .lang "user_settings.confirm_change"}}</button>
                            </div>
                        </form>
                    </div><!-- /panel -->
                    <div class="panel panel-default fadeInDown animation-delay2">
                        <form class="form-horizontal no-margin" data-validate="parsley" novalidate="">
                            <div class="panel-heading">
                                <h5><strong>{{i18n .lang "user_settings.pterodactyl_user"}}</strong></h5>
                                <p class="text-muted">
                                    {{i18n .lang "user_settings.pterodactyl_user_tips"}}
                                </p>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-lg-3">UUID</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="{{.pteUserUUID}}" class="form-control input-sm" disabled>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.user_name"}}</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="{{.pteUserName}}" class="form-control input-sm" disabled>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.password"}}</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder='{{i18n .lang "user_settings.password_tips"}}' class="form-control input-sm" disabled>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.email"}}</label>
                                    <div class="col-lg-8">
                                        <input type="password" placeholder="{{.pteUserEmail}}" class="form-control input-sm"  disabled>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.2fa"}}</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="{{if .pteUser2FA}}已开启{{else}}未开启{{end}}" class="form-control input-sm" disabled>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.create_time"}}</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="{{.pteUserCreatedAt}}" class="form-control input-sm"  disabled>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-info" onclick="$.get('{{.pteUserCreateURL}}',
                                        function(data) {
                                        if (data==='SUCCESS')
                                        {alert('创建成功！ 默认密码是您注册时输入的用户名！');parent.location.reload();}
                                        else {alert('创建失败！');}
                                        parent.location.reload();
                                        })
                                        "
                                        {{if .userCreated}}disabled{{end}}>{{if .userCreated}}{{i18n .lang "user_settings.created"}}{{else}}{{i18n .lang "user_settings.create"}}{{end}}</button>
                            </div>
                        </form>
                    </div><!-- /panel -->
                </div><!-- /.col-->
                <div class="col-md-6">
                    <div class="panel panel-default fadeInDown animation-delay3">
                        <form class="form-horizontal form-border no-margin" id="type-constraint" data-validate="parsley"
                              novalidate="" method="post" action="/user-settings/change-email">
                            <div class="panel-heading">
                                <h5><strong>{{i18n .lang "user_settings.change_email"}}</strong></h5>
                            </div>
                            <div class="panel-body">
                                {{.xsrfData}}
                                <div>
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.new_email"}}</label>
                                    <div class="col-lg-8 input-group">
                                        <input id="email" name="email" type="text" class="form-control"
                                               placeholder='{{i18n .lang "user_settings.input_new_email"}}'>
                                        <span class="input-group-btn">
                                            <button id="send_email" class="btn btn-default tooltip-test"
                                                    data-toggle="tooltip" data-placement="top"
                                                    data-original-title='{{i18n .lang "user_settings.send_limit"}}' type="button"
                                                    onclick="send()"><small id="cooldown">{{i18n .lang "user_settings.send"}}👍</small></button>
                                            </span>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <script type="text/javascript" async="async">
                                    function send() {
                                        $.get({{.webHostName}}+"/user-settings/change-email/" + $("#email").val());
                                        $("#send_email").attr("disabled", "disabled");
                                        var second = 60;
                                        var origin_text = $("#cooldown").text()
                                        var intervalObj = setInterval(
                                            function () {
                                                $("#cooldown").text(origin_text + "(" + second + ")");
                                                if (second == 0) {
                                                    $("#cooldown").text(origin_text);
                                                    $("#send_email").removeAttr("disabled")
                                                    clearInterval(intervalObj);
                                                }
                                                second--;
                                            }, 1000
                                        )
                                    }
                                </script>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.captcha"}}</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control input-sm parsley-validated"
                                               placeholder='{{i18n .lang "user_settings.input_captcha"}}' name="captcha">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                            </div>
                            {{if .hasError2}}
                                <div class="alert alert-danger">
                                    <strong>{{i18n .lang "user_settings.change_failed"}}</strong> {{.hasErrorText2}}
                                </div>
                            {{end}}
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-info">{{i18n .lang "user_settings.confirm_change"}}</button>
                            </div>
                        </form>
                    </div><!-- /panel -->
                </div><!-- /.col-->

                {{if .AlbumEnabled}}
                <div class="col-md-6">
                    <div class="panel panel-default fadeInDown animation-delay3">
                        <form class="form-horizontal form-border no-margin" id="gallery-post">
                            <div class="panel-heading">
                                <h5><strong>{{i18n .lang "user_settings.upload_photo"}}</strong></h5>
                                {{i18n .lang "user_settings.upload_photo_tips"}}
                            </div>
                            <div class="panel-body">
                                {{.xsrfData}}
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.name"}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control input-sm" name="itemName" required>
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.description"}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control input-sm" placeholder='{{i18n .lang "user_settings.input_description"}}'
                                               name="itemDescription">
                                    </div><!-- /.col -->
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{i18n .lang "user_settings.url"}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control input-sm" placeholder='{{i18n .lang "user_settings.input_url"}}'
                                               name="imgSource" required>
                                        <div class="help-block">
                                            {{i18n .lang "user_settings.input_url_tips"}}
                                        </div>
                                    </div><!-- /.col -->

                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-info" onclick="$.post('/user-settings/gallery-post',$('#gallery-post').serialize(),function(data) {
                                            console.log($('#gallery-post').serialize());
                                            if (data === 'SUCCESS'){
                                                alert('上传成功！');
                                            }else{
                                                alert('上传失败！'+data);
                                            }
                                            parent.location.reload();
                                          })
                                        ">{{i18n .lang "user_settings.confirm_upload"}}
                                </button>
                            </div>
                        </form>
                    </div><!-- /panel -->
                </div><!-- /.col-->
                {{end}}
            </div>
        </div>
    </div>
    <!-- /main-container -->
</div><!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
<!-- Logout confirmation -->

{{template "tpls/perfectJS.html" .}}
<script src='../static/perfect/js/jquery.cookie.min.js'></script>
</body>
</html>
