<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Perfect Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}

</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div id="wrapper" class="preload">
            <div class="padding-md">
                <br><br><br><br>
                <div class="clearfix">
                    <div class="pull-left">
						<span class="img-demo">
							{{.wareName}}
						</span>
                        <div class="pull-left m-left-sm">
                            <h3 class="m-bottom-xs m-top-xs">{{.userName}}</h3>
                            <span class="text-muted">{{.userEmail}}</span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <h5><strong>#{{.orderID}}</strong></h5>
                        <strong>{{.orderCreateTime}}</strong>
                    </div>
                </div>
                <hr>
                <div class="clearfix">
                    <div class="pull-left">
                        <h4>新订单</h4>
                        <address>
                            <strong>订单内容</strong><br>
                            {{range .orderInfoList}}
                                {{.text}}<br>
                            {{end}}
                            <abbr title="Email">mail:</abbr> cytusd@outlook.com
                        </address>
                    </div>
                </div>
                <table class="table table-striped m-top-md" id="dataTable">
                    <thead>
                    <tr class="bg-theme">
                        <th>编号</th>
                        <th>商品名称</th>
                        <th>月付单价</th>
                        <th>付款方式</th>
                        <th>总价</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>#{{.orderID}}</td>
                        <td>{{.wareName}}</td>
                        <td>￥{{.pricePerMonth}}</td>
                        <td>{{.paymentText}}</td>
                        <td>￥{{.originPrice}}</td>
                    </tr>
                    <tr>
                    </tbody>
                </table>
                <div class="padding-sm bg-grey">
                    <p>提示：</p>
                </div>
            </div>
            <div class="pull-right">
                <table class="table m-top-md">
                    <tbody>
                    <tr class="no-border">
                        <td class="no-border"></td><td class="no-border"></td><td class="no-border"></td>
                        <td class="text-right no-border"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">小计</font></font></strong></td>
                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">￥ {{.originPrice}}</font></font></strong></td>
                    </tr>
                    <tr class="no-border">
                        <td class="no-border"></td><td class="no-border"></td><td class="no-border"></td>
                        <td class="text-right no-border"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">折扣</font></font></strong></td>
                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">￥ {{.discountPrice}}</font></font></strong></td>
                    </tr>
                    <tr class="no-border">
                        <td class="no-border"></td><td class="no-border"></td><td class="no-border"></td>
                        <td class="text-right no-border"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总</font></font></strong></td>
                        <td><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">￥ {{.finalPrice}}</font></font></strong></td>
                    </tr>
                    </tbody>
                </table>
                <a href="#formModal" role="button" data-toggle="modal" class="btn btn-success btn-small">使用Key激活</a>
                <div class="modal fade" id="formModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4>使用预购买的KEY激活服务器</h4>
                                <small>您可以在淘宝店或发卡平台购买KEY，每个KEY只能使用一次。<br>如果KEY失效不能使用请联系网站管理员！</small>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="key">
                                    <div class="form-group">
                                        <label>激活码</label>
                                        <input type="text" class="form-control input-sm" placeholder="输入您购买到的激活码">
                                    </div><!-- /form-group -->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success btn-sm" data-dismiss="modal" aria-hidden="true">返回</button>
                                <button type="submit" form="key" class="btn btn-info btn-sm">确认激活</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
{{template "tpls/perfectJS.html" .}}
</body>
</html>
