<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{.wareTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}

</head>

<body class="vsc-initialized pace-done" style>

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
<div id="main-container" class="no-margin">
    <div id="wrapper" class="preload">
        {{template "tpls/navbar.html" .}}
        <div>
            <div class="section-header">
                <hr class="left visible-lg">
                <h3>{{.wareTitle}}</h3>
                <hr class="right visible-lg">
                {{.wareDetail}}
            </div>
        </div><!-- /.padding -->
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10 col-xs-12">
                    <div class="btn-group btn-group-justified">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="panel panel-default panel-stat1">
                                    <a href="#monthly" data-toggle="tab">
                                        <div class="panel-body">
                                            <div class="value"><i class="fa fa-tag"></i></div>
                                            <div class="title">
                                                <span class="m-left-xs text-info"><strong>月付</strong></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="panel panel-default panel-stat1">
                                    <a href="#seasonly" data-toggle="tab">
                                        <div class="panel-body">
                                            <div class="value"><i class="fa fa-tags"></i></div>
                                            <div class="title">
                                                <span class="m-left-xs text-info"><strong>季付</strong></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="panel panel-default panel-stat1">
                                    <a href="#yearly" data-toggle="tab">
                                        <div class="panel-body">
                                            <div class="value"><i class="fa fa-globe"></i></div>
                                            <div class="title">
                                                <span class="m-left-xs text-info"><strong>年付</strong></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>
        <div>
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="monthly">
                        <div class="row row-merge">
                            {{range .wares1}}
                                {{template "tpls/ware.html" .}}
                            {{end}}
                        </div><!-- /.row -->
                    </div>
                    <div class="tab-pane fade" id="seasonly">
                        <div class="row row-merge">
                            {{range .wares2}}
                                {{template "tpls/ware.html" .}}
                            {{end}}
                        </div><!-- /.row -->
                    </div>
                    <div class="tab-pane fade" id="yearly">
                        <div class="row row-merge">
                            {{range .wares3}}
                                {{template "tpls/ware.html" .}}
                            {{end}}
                        </div><!-- /.row -->
                    </div>
                </div>
            </div><!-- /.padding-md -->
        </div>
    </div><!-- /main-container -->
</div>

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
{{template "tpls/perfectJS.html" .}}

</body>
</html>
