<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{{.webApplicationName}} {{.wareTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "tpls/perfectCSS.html" .}}
</head>

<body class="overflow-hidden">
{{template "tpls/navbar.html" .}}
<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
    <div id="wrapper" class="preload">
        <div class="padding-md">
            <div class="section-header">
                <br>
                <hr class="left visible-lg">
                <span>
						{{.wareTitle}}
					</span>
                <hr class="right visible-lg">
                {{.wareDetail}}
                <br>
            </div>
        </div><!-- /.padding -->
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="btn-group btn-group-justified">
                    <a href="#monthly" class="btn btn-default" data-toggle="tab"><i class="fa fa-tag fa-lg"></i> 月付</a>
                    <a href="#seasonly" class="btn btn-default" data-toggle="tab"><i class="fa fa-tags fa-lg"></i> 季付</a>
                    <a href="#yearly" class="btn btn-default" data-toggle="tab"><i class="fa fa-globe fa-lg"></i> 年付</a>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="padding-md">
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="monthly">
                        <div class="row row-merge">
                            {{range .wares}}
                                {{template "tpls/ware.html" .}}
                            {{end}}
                        </div><!-- /.row -->
                    </div>
                    <div class="tab-pane fade" id="seasonly">
                        <div class="row row-merge">
                            {{range .wares}}
                                {{template "tpls/ware.html" .}}
                            {{end}}
                        </div><!-- /.row -->
                    </div>
                    <div class="tab-pane fade" id="yearly">
                        <div class="row row-merge">
                            {{range .wares}}
                                {{template "tpls/ware.html" .}}
                            {{end}}
                        </div><!-- /.row -->
                    </div>
                </div>
            </div><!-- /.padding-md -->
        </div>
    </div><!-- /main-container -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
{{template "tpls/perfectJS.html" .}}

</body>
</html>
