body
{
    background: #d2d6de;
    font-family: "Source Sans Pro","Source Han Sans SC","Noto Sans CJK SC","HanHei SC",-apple-system,BlinkMacSystemFont,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji";
}

.login-box
{
    width: 360px;
    margin: 7% auto;
}

.login-box .logo
{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-box .logo a
{
    color: #444;
    transition: all .2s ease-in-out;
    text-decoration:none;
}

.login-box .logo a:hover
{
    color: #42a5f5;
}

.login-box .box
{
    background-color: #fff;
    border: 0;
    border-radius: 6px;
    background-clip: padding-box;
}

.login-box .box .header
{
    border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
}

.login-box .box .header span
{
    font-size: 18px;
    font-weight: 600;
}

.login-box .box .body
{
    padding: 18px;
    padding-bottom: 0;
}

.login-box .box .body .username, .login-box .box .body .password
{
    margin-bottom: 24px;
    vertical-align: top;
    zoom: 1;
    line-height: 32px;
    font-size: 12px;
    display: table;
    width:100%
}

.login-box .box .body .username div, .login-box .box .body .password div
{
    margin-bottom: 24px;
    vertical-align: top;
    zoom: 1;
    line-height: 32px;
    font-size: 14px;
    padding: 6px 7px;
    height: 22px;
    border-right-width: 0;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
    font-weight: 400;
    line-height: 1;
    color: #495060;
    text-align: center;
    background-color: #eee;
    border: 1px solid #dddee1;
    border-radius: 6px;
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.login-box .box .body .username div i, .login-box .box .body .password div i
{
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.login-box .box .body .username div i::before
{
    content: "\F47D";
}

.login-box .box .body .password div i::before
{
    content: "\F457"
}

.login-box .box .body .username input, .login-box .box .body .password input
{
    display: table-cell;
    width: 100%;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    font-size: 14px;
    padding: 6px 7px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
}

.login-box .box .footer
{
    overflow: auto;
    text-align: left;
    padding: 18px;
    padding-top: 0;
}

.login-box .box .footer button
{
    width: 100%;
    margin: 0 0 15px;
    color: #fff;
    background-color: #2b85e4;
    border-color: #2b85e4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s;
}

.login-box .box .footer button:hover
{
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}

.login-box .box .footer a
{
    font-size: small;
    line-height: 1.5;
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}

.login-box .box .footer a:hover
{
    outline: 0;
    text-decoration: none;
}

@font-face {
    font-family: Ionicons;
    src:url(../fonts/ionicons.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}