.banner__desc b a {
	color: rgba(229, 235, 255, .8);
	text-decoration: none;
}

#swag-confirm .actions {
	text-align: center;
}

/* Message blocks */
.block_message            { background-color: #ffffff; padding-bottom: 16px; }

.base_message             { color: #616366; box-sizing: border-box; width: 100%; font-size: 15px; line-height: 25px; margin: 0px auto 10px auto; padding: 15px; text-align: left; border: 1px solid #000000; border-radius: 5px; overflow: hidden; }
.success_message          { color: #5ba65f; border-color: #66bb6a; }
.warning_message          { color: #fca426; border-color: #ffb13d; }
.error_message            { color: #e53935; border-color: #ff4d4a; }
.info_message             { color: #1e88e5; border-color: #54aaff; }

@media (max-width:751px) {
	.resources__navbar-inner {
		padding-left: 15px;
	}
	.resources__navbar-inner .resources__burger {
		min-width: 48px;
	}
}

@media (max-width:375px) {
	.resources__navbar-inner .container {
		padding-left: 0;
	}
	.resources__content>.resources__header {
		padding: 36px 0 0;
	}
	.article .top__desc .tags-list {
		max-width: 100px;
		display: table-row;
	}
	.article .top__desc .tags-list__item {
		white-space: nowrap;
		margin-top: 5px;
	}
	.article .top__desc .tags-list__item:first-of-type {
		float: left;
	}
}

@media (max-width:649px) {
	.resources__navbar-inner .resources__nav {
		display: block;
	}
	.breadcrumb__item.is-active span.is-active {
		display: inline-block;
		min-width: 0;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.resources__brand, .resources__navbar:not(.resources__navbar--faq) .container {
		display: inline-block;
	}
	.resources .resources__brand {
		display: none;
	}
	ul.breadcrumb {
		flex: 0 1 auto;
	}
	.breadcrumb__item.is-active {
		flex: 1;
		min-width: 0;
	}

}
@media (max-width:1011px) {
	.section.section--our-mission ~ .section.section--our-mission {
		border-bottom: none;
	}
	.features--other-features {
		padding-bottom: 100px;
	}
}

h3.article_search_title {
	color: #007bfc;
}

p.article_search_summary {
	color: black;
}

.resources__content > .resources__archived {
	margin-top: 75px;
}

video.news_video {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
}

.toggle-button {
	background-color: #007bfc;
	/*margin: 1px 0;*/
	border-radius: 20px;
	border: 2px solid #007bfc;
	height: 25px;
	cursor: pointer;
	width: 60px;
	position: relative;
	top: 9px;
	display: inline-block;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.toggle-button button {
	cursor: pointer;
	outline: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	background-color: white;
	float: left;
	margin: -2px 0 0 -2px;
	border: 2px solid #007bfc;
	transition: left 0.2s;
}

.toggle-button-selected {
	background-color: #3BA3FF;
	border: 2px solid #3BA3FF;
}

.toggle-button-selected button {
	left: 35px;
	top: 0;
  margin: -2px 0 0 -2px;
	border: 2px solid #007bfc;
	width: 25px;
	height: 25px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#ipv4label {
	color: white;
	font-weight: bold;
  position: relative;
  left: -35px;
}

#ipv6label {
	color: white;
	font-weight: bold;
  position: relative;
  left: -57px;
}

.list-group--collapse-simple .list-group__content {
	width: 100%;
}

.btn--speedtest {
	margin-right: 30px;
}

.btn--speedtest .btn__text {
	color:#fff;
}

div.speedtest {
	margin-left: 15px;
}

.selectize-control .selectize-input .item {
	text-overflow: ellipsis;
	overflow:hidden;
}

.resources__section .resources__list {
	min-height: 200px;
}

/* status */
.sn__section.sn__section--ongoing-issues .sn__issue-title.alert__closed:before { background: #4cc159; }
.sn__section.sn__section--ongoing-issues .sn__issue-title.alert__closed:after  { border-color: #4cc159; }
.sn__section.sn__section--ongoing-issues .sn__issue-title.fo_alert__resolved:before { background: #4cc159; }
.sn__section.sn__section--ongoing-issues .sn__issue-title.fo_alert__resolved:after  { border-color: #4cc159; }

.feature__desc + .feature__actions .btn--link {
  overflow: inherit;
}

@media all and (max-width: 375px) {
  .section--block-center [class^=col] {
    flex-direction: inherit;
  }
}

@media all and (min-width: 1012px) and (max-width: 1231px) {
	.team-member__photo {
		justify-content: center;
	}
	.team-member__photo img {
		margin: 0;
	}
}

@media (min-width: 752px) {
	.banner--resources-main .banner__background {
	    min-height: 875px;
	}
}

/* navbar with open search */
.resources__navbar.is-sticky .resources__navbar-opensearchform {
	display: block !important
}

.resources__navbar.is-sticky .resources__navbar-opensearchform .input-group {
	border: none
}

.resources__navbar-opensearchform {
	margin-left: auto;
	width: 380px;
	border: 1px solid #e6e7eb;
	border-width: 0 1px
}

.resources__navbar-opensearchform .input-group {
	border: 0;
	border-radius: 0;
}

.resources__navbar-opensearchform .input-group:hover {
	border: 0
}

.resources__navbar-opensearchform .input-group__icon {
	cursor: pointer;
}

@media (max-width: 775px) {
	.resources__navbar-opensearchform .input-group input {
		padding-left: 0;
	}

	.resources__navbar--opensearchbar .container {
		display: inline-block;
	}
	.resources__navbar--opensearchbar .resources__navbar-inner .resources__nav {
		display: block;
	}
	.resources__navbar--opensearchbar .breadcrumb__item.is-active span.is-active {
		display: inline-block;
		min-width: 0;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.resources .resources__navbar--opensearchbar .resources__brand {
		display: none;
	}
	.resources__navbar--opensearchbar ul.breadcrumb {
		flex: 0 1 auto;
	}
	.resources__navbar--opensearchbar .breadcrumb__item.is-active {
		flex: 1;
		min-width: 0;
	}
}

@media (max-width: 1011px) {
	.resources__navbar-opensearchform {
		border: none
	}

	.resources__navbar-opensearchform .input-group__icon {
		margin-left: auto;
		margin-right: 0;
		color: #8692b0
	}

	.resources__navbar-opensearchform {
		margin-left: 0;
		width: 100%;
		display: block
	}
	.illustration--high-frequency .svg-illustration--dash {
		display:none;
	}
}

ul.workable_description {
	list-style: initial;
}

/* Resizable Textbox and min-height*/
textarea.preview_text
{
	min-height: 500px;
	resize: vertical;
}

/* BENCHMARKS */
.benchmark__bar .benchmark__bar-value {
    top: -35px;
}
.benchmark__bar-title {
    font-size: 12px;
    white-space: nowrap;
}
.benchmark__bar {
    z-index: 10;
    bottom: 0;
    width: 40px;
    height: 5%;
    will-change: height;
    background: linear-gradient(180deg,#007bfc,#05c1fe);
    left: 8%;
}

.benchmark__bar:nth-child(2) {
    left: 42%;
    background: linear-gradient(180deg,#007bfc,#05c1fe);
}
.benchmark__bar:nth-child(3) {
    left: 76%;
    background: linear-gradient(180deg,#c7cdde,#dfe3ed);
}
.benchmark__bar:nth-child(3) .benchmark__bar-value {
    top: -30px;
}

@media (max-width: 1231px){
	.benchmark__bar {
	    width: 32px;
	    margin-left: 0px;
	}
	.benchmark__bar:nth-child(2) {
	    margin-left: 0px;
	}
	.benchmark__bar .benchmark__bar-value {
	    top: -30px;
	}
}

@media (max-width: 1011px) {
	.benchmark__bar {
	    left: 8%;
	}
	.benchmark {
	    box-shadow: 0 8px 16px 0 rgba(10,14,29,.02), 0 8px 40px 0 rgba(10,14,29,.06);
	}

	.benchmark__bar:nth-child(3) {
	    left: 76%;
	}
	.section--benchmark .rail>*+* {
	    margin-left: 32px;
	}
	.section--dark-md .illustration--high-frequency .illustration__left-element, .section--dark-md .illustration--high-frequency .illustration__right-element {
    	top: -67px;
	}
	.section--dark-md .illustration--high-frequency .illustration__center-element {
	    bottom: -23px;
	}
}

@media (max-width: 751px) {
	.benchmark__section {
	    padding: 24px 8px;
	}
	.section .illustration--high-frequency .illustration__left-element, .section .illustration--high-frequency .illustration__right-element {
	    top: -41px;
	}
	.section .illustration--high-frequency .illustration__right-element {
	    right: 52px;
	}
	.section .illustration--high-frequency .illustration__left-element {
	    left: 52px;
	}
	.p-3 {
		font-size: 12px;
	}
	.p-2 {
		font-size: 14px;
	}
}

.obj-storage-link {
	text-decoration: none;
}


#abuse_or_dmca_note {
	display:none;
}

@media (max-width: 1011px) {
	.section.section--apps-packages {
		padding-top: 100px !important;
	}
}
